<?xml version="1.0" encoding="utf-8" ?>
<Applications WorkingDirectory="%cd%..\..\..\..\..">
	<Application FileName="java\jre7u2-64\bin\java.exe" Identifier="tst">
		<Argument Value="-Dfile.encoding=UTF-8"/>
		<Argument Value="-Djava.awt.headless=true"/>
		<Argument Value="-server"/>
		<Argument Value="-Djdk.home=%cd%java\jre7u3-64"/>
		<Argument Value="-Djruby.home=%cd%jruby\jruby-1.6.7-64"/>
		<Argument Value="-Djruby.script=jruby"/>
		<Argument Value="-Djruby.shell=cmd.exe"/>
		<Argument Value="-Djffi.boot.library.path=%cd%jruby\jruby-1.6.7-64\lib\native\i386-Windows;%cd%jruby\jruby-1.6.7-64\lib\native\x86_64-Windows"/>
		<Argument Value="-Xmx500m"/>
		<Argument Value="-Xss2048k"/>
		<Argument Value="-Djruby.memory.max=500m"/>
		<Argument Value="-Djruby.stack.max=2048k"/>
		<Argument Value="-Dsun.java.command=org.jruby.Main"/>
		<Argument Value="-Djava.class.path="/>
		<Argument Value="-Xbootclasspath/a:%cd%jruby\jruby-1.6.7-64\lib\jruby.jar"/>
		<Argument Value="org/jruby/Main"/>
		<Argument Value="--1.9"/>
		<Argument Value="mxfactory_startup.rb"/>
	    <EnvironmentVariable Key="JRE_HOME" Value="%cd%java\jre7u3-64" />
    	<EnvironmentVariable Key="JAVA_HOME" Value="%cd%java\jre7u3-64" />
  	</Application>
</Applications>
